@-webkit-keyframes move-arrow {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  50% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
}

@keyframes move-arrow {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  50% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
}

body {
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
}

.badge {
  padding: 6px;
  font-size: 12px;
  font-weight: 300;
  border-radius: 2em;
}

.badge-primary {
  background-color: #58ba99;
}

.badge-success {
  background-color: #5cb85c;
}

.badge-info {
  background-color: #5bc0de;
}

.badge-warning {
  background-color: #f0ad4e;
}

.badge-danger {
  background-color: #d9534f;
}

.btn-round {
  border-radius: 2em;
}

.btn-round.btn-lg {
  padding: 15px 30px;
  font-size: 14px;
}

.btn-lined {
  border: 2px solid #555;
  color: #555;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.flow-step {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  color: #555;
  border: 2px solid #666;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.btn-lined:hover,
.btn-lined:focus {
  background-color: #fff;
  color: #1c1c1c;
}

.custom-file-control:lang(en):empty::after {
  content: "Choose report" !important;
  margin-right: 20%;
  margin-left: 0;
}

.custom-file-control:lang(en)::before {
  content: "Select" !important;
}

.color-primary,
a.color-primary {
  color: #58ba99;
}

.color-primary:hover,
a.color-primary:hover {
  color: #58ba99;
}

.color-success,
a.color-success {
  color: #5cb85c;
}

.color-success:hover,
a.color-success:hover {
  color: #5cb85c;
}

.color-info,
a.color-info {
  color: #5bc0de;
}

.color-info:hover,
a.color-info:hover {
  color: #5bc0de;
}

.color-warning,
a.color-warning {
  color: #f0ad4e;
}

.color-warning:hover,
a.color-warning:hover {
  color: #f0ad4e;
}

.color-danger,
a.color-danger {
  color: #d9534f;
}

.color-danger:hover,
a.color-danger:hover {
  color: #d9534f;
}
.login-cta {
  display: inline-block;
}

.space {
  display: inline;
  padding: 6px;
}

.space-md {
  padding: 15px;
}

.space-lg {
  padding: 25px;
}

h1,
h2,
h3,
h4 {
  font-weight: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.main {
  background: #fff;
}

.main header {
  padding: 30px 0;
  color: #555;
}

.main header .logo {
  font-size: 20px;
  line-height: 35px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 2px 0 rgba(0, 0, 0, 0.1);

  & a {
    color: #555;

    &:hover,
    &:focus {
      text-decoration: none;
      cursor: pointer;
    }
  }
}

.main .hero {
  padding: 150px 0 150px;
  color: #555;
}

.main .hero h1 {
  font-size: 44px;
  line-height: 50px;
  color: #555;
  font-weight: 300;
  text-shadow: 1px 2px 0 rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
  .main .hero h1 {
    font-size: 56px;
    line-height: 60px;
  }
}

.main .hero p {
  font-size: 24px;
  line-height: 30px;
  font-weight: 200;
  margin-top: 20px;
  margin-left: 10%;
  margin-right: 10%;
  letter-spacing: 0.01em;
  text-shadow: 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.main .hero .hero-buttons {
  margin-top: 30px;
}

.main .hero .hero-buttons .btn {
  margin-bottom: 5px;
}

.main .hero .hero-buttons .btn:hover .fa-arrow-right {
  -webkit-animation: move-arrow 1000ms ease-in-out infinite;
  animation: move-arrow 1000ms ease-in-out infinite;
}

* {
  font-family: "Open Sans";
}

.footer .container {
  padding: 25px;
}

.footer .container .designed {
  color: #bababa;
}

.footer .container .designed a {
  color: #bababa;
}

.notification {
  position: absolute;
  top: 100px;
  z-index: 3;
  right: 50%;
  box-shadow: 0 0 4px 0 #7c818b;
  padding: 8px 10px 8px 10px;
  transform: translateX(50%);
}

.play-marker {
  &:hover {
    color: #4c6ef5;
  }
}

.switch-field {
  font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;
  padding: 0px;
  overflow: hidden;
}

.switch-title {
  margin-bottom: 6px;
}

.switch-field input {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
}

.switch-field label {
  float: left;
}

.switch-field label {
  display: inline-block;
  width: 60px;
  background-color: #e4e4e4;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  text-shadow: none;
  padding: 6px 14px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3),
    0 1px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
  cursor: pointer;
}

.switch-field input:checked + label#fact {
  background-color: #a5dc86;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.switch-field input:checked + label#lie {
  background-color: red;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.switch-field label:first-of-type {
  border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
  border-radius: 0 4px 4px 0;
}

.post-video {
  .container {
    padding: 40px;
  }

  .search-box {
    display: inline-block;
    width: 100%;
    border-radius: 3px;
    padding: 4px 55px 4px 15px;
    position: relative;
    background: #fff;
    border: 1px solid #ddd;
  }
  .search-box.hovered,
  .search-box:hover,
  .search-box:active {
    border: 1px solid #aaa;
  }
  .search-box input[type="url"] {
    border: none;
    box-shadow: none;
    display: inline-block;
    padding: 0;
    background: transparent;
  }
  .search-box input[type="url"]:hover,
  .search-box input[type="url"]:focus,
  .search-box input[type="url"]:active {
    box-shadow: none;
  }
  .search-box .search-btn {
    position: absolute;
    right: 2px;
    top: 2px;
    color: #aaa;
    border-radius: 3px;
    font-size: 18px;
    padding: 0px 10px 1px;
  }
  .search-box .search-btn:hover {
    color: #fff;
    background-color: #8fbe00;
  }
}

.Popover-body {
  background-color: white;
  border: 1px solid;
  padding: 20px;
}

.claim-bucket {
  &:hover {
    cursor: pointer;
    color: blue;
  }
}
